<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <div th:replace="template :: links"></div>
</head>
<body>

<div th:replace="template :: navbar-fragment"></div>

<div class="container theme-showcase" role="main">
    <h2>Witaj!</h2>
    <p th:if="${kto} != null" th:text="'Witaj ' + ${kto} + '. Miło Cię widzieć na naszym kursie!'"></p>
    <p th:if="${kto} == null">Nie wiem kim jesteś :(</p>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>