<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:fragment="links">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.css">
        <link rel="stylesheet" th:href="@{/css/theme.css}">
        <title>SDA Demo template</title>
    </div>
</head>
<body>
<div th:fragment="navbar-fragment">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/}">Hello</a>
                    </li>
                    <!--<li>-->
                    <!--<a th:href="@{/link}">link</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>

</body>
</html>